@import "../../responsive.scss";

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        transition: all 0.4s ease;

        @include sm {
            display: none;
        }

        &:hover {
            scale: 1.05;
            color: rgb(121, 138, 9);
        }
    }

    .left {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 40px;
        .logo {
            display: flex;
            font-weight: bold;
            gap: 2;
            align-items: center;
            font-size: 20px;

            span {
                @include md {
                    display: none;
                }
            }

            span {
                @include sm {
                    display: initial;
                }
            }
        }
    }

    .right {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;
        background-color: rgb(238, 231, 108);
        height: 100%;

        @include md {
            background-color: transparent;
        }

        a {
            padding: 12px 24px;
            margin: 20px;
            color: rgb(13, 13, 13);
        }

        .register {
            background-color: rgb(151, 172, 15);
        }

        .menuIcon {
            display: none;
            z-index: 9999;
            @include sm {
                display: inline;
            }
        }

        .menu {
            position: absolute;
            top: 0;
            right: -50%;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%;
            transition: all 1s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 12px;

            @include sm {
                a {
                    display: initial;
                    color: white;
                }
            }

            &.active {
                right: 0;
            }
        }
    }
}